//Main
@import "mixin.scss";
@import "var.scss";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1200px;
}

// revolutionary editor START
.present {
	background-color: #fff;

	&__title {
		color: #635C73;
		font-family: 'montserrat', sans-serif;
		font-weight: bold;
		font-size: 54px;
		line-height: 54px;
		text-align: center;
		margin-top: 129px;
		text-transform: uppercase;
	}

	&__text {
		font-family: 'lato', sans-serif;
		font-weight: 400;
		font-size: 21px;
		line-height: 32px;
		text-align: center;
		margin: 35px auto;
		color: #323232;
		max-width: 860px;
	}

	&__buttons {
		@include flex_center;
		margin-top: 20px;
		gap: 14px;
	}

	&__buttons-item {
		@include flex_center;
		padding: 3px 12px;
		text-decoration: none;
		color: #000;
		font-family: 'montserrat', sans-serif;
		background-color: rgba(132, 142, 151, 0.2);
		border-radius: 2px;
		border: 1px solid rgba(132, 142, 151, 0.3);

		.text {
			padding-left: 3px;
			font-size: 10px;
			font-weight: bold;
		}

		.count {
			font-family: sans-serif;
			font-size: 10px;
			margin-left: 5px;
			background: rgba(132, 142, 151, 0.4);
			border-radius: 15px;
			padding: 4px 3px 3px 3px;
			text-align: center;
		}
	}
}

@media screen and (max-width: 992px) {
	.present {
		&__title {
			font-size: 42px;
			line-height: 42px;
		}
	}
}

@media screen and (max-width: 583px) {
	.present {
		&__title {
			font-size: 26px;
			line-height: 28px;
		}

		&__text {
			font-size: 14px;
			line-height: 20px;
		}

		&__buttons {
			gap: 20px;
			flex-wrap: wrap;
		}
	}
}

// revolutionary editor END

.features {
	background-color: #F4F4F4;
	font-family: "montserrat", sans-serif;
	margin-top: 70px;
	position: relative;
	padding-top: 100px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	gap: 80px;


	&__offers-block,
	&__offers-block-2,
	&__offers-block-3,
	&__offers-block-4 {
		display: flex;
		align-items: center;
		margin-bottom: 35px;
	}

	&__block-icon-1 {
		img {
			margin-left: 2px;
		}
	}

	&__block-icon-3 {
		img {
			margin-left: 14px;
		}
	}

	&__block-icon-4 {
		img {
			margin-left: 10px;
		}
	}

	&__block-page {
		padding-left: 18px;
	}

	&__block-page-2 {
		padding-left: 40px;
	}

	&__block-page-3 {
		padding-left: 55px;
	}

	&__block-page-4 {
		padding-left: 47px;
	}

	&__page-title {
		font-size: 16px;
		line-height: 21px;
	}

	&__page-text,
	&__page-text-2,
	&__page-text-3,
	&__page-text-4 {
		font-size: 14px;
		line-height: 21px;
		text-align: start;
		color: #848E97;
		width: 376px;
		margin-top: 12px;
	}

	&__showcase-title {
		font-family: 'Montserrat', sans-serif;
		font-size: 48px;
		font-weight: 700;
		line-height: 50px;
		color: $main_color;
	}

	&__showcase-img {
		position: absolute;
		left: 50%;
		bottom: 0;
		padding-top: 60px;
	}

	&__showcase-img>img {
		width: 100%;
	}
}

@media screen and (max-width: 992px) {
	.features {
		flex-direction: column;
		justify-content: center;

		&__showcase-img {
			position: static;
			width: 90%;
			margin-left: auto;
			padding-top: 0;
		}

		&__showcase-img>img {
			margin-left: auto;
		}

		&__showcase-title {
			text-align: center;
			font-size: 42px;
			line-height: 44px;
		}

		&__page-text,
		&__page-text-2,
		&__page-text-3,
		&__page-text-4 {
			width: 100%;
		}


	}
}

@media screen and (max-width: 540px) {
	.features {

		&__offers-block,
		&__offers-block-2,
		&__offers-block-3,
		&__offers-block-4 {
			flex-direction: column;
		}

		&__page-text,
		&__page-text-2,
		&__page-text-3,
		&__page-text-4 {
			width: 100%;
			text-align: center;
		}

		&__page-title {
			text-align: center;
			line-height: 16px;
		}

		&__showcase-title {
			text-align: center;
			font-size: 32px;
			line-height: 32px;
		}

		&__block-page,
		&__block-page-2,
		&__block-page-3,
		&__block-page-4 {
			padding-left: 0;
		}

		&__showcase-img {
			position: static;
			width: 90%;
			
		}

		&__showcase-img>img {
			margin-left: auto;
			width: 100%;
		}
	}
}