//Main
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1200px;
}

//Header
header{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("/img/header_bg.png")  center/cover no-repeat;
    div{
        height: 100px;
        display: flex;
        align-items: center;
    }
}

.logo_wrapper {
	width: 165px;
	height: 40px;
	padding-right: 312px;
	display: flex;
	gap: 17px;

	.logo_title {
		font-family: Lato;
		font-size: 24px;
		font-weight: 700;
		line-height: 16px;
		color: #8D81AC;
		align-self: center;
		padding-top: 7px;
	}
}
.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    .nav_item{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
        display: flex;
        flex-wrap: nowrap;
        &_link{
            width: 100%;
            text-decoration: none;
            color: #8D81AC;
        }
    }
}

.nav_btn {
	background: #8D81AC;
	width: 145px;
	height: 38px;
	margin-left: 48px;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	&_link {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 700;
		line-height: 17px;
		text-decoration: none;
		color: #fff;
	}
}

.header_title_wrapper {
	margin-top: 83px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 19px;

	.forkio_title {
		font-family: Montserrat;
		font-size: 82px;
		font-weight: 700;
		line-height: 82px;
		color: #FFFFFF;
	}

	.forkio_subtitle {
		font-family: Lato;
		font-size: 30px;
		font-weight: 400;
		line-height: 30px;
		color: #8D81AC;
	}

	.forkio_version {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		color: #848E97;
	}
}
.download_btn_wrapper{
    position: absolute;
    left: 50%;
    bottom: -120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%,-50%);
}

.download_btn {
	width: 390px;
	height: 62px;
	background: #8D81AC;
	border-radius: 40px;
	display: flex;
	justify-content: center;

	&_text {
		font-family: Montserrat;
		font-size: 21px;
		font-weight: 700;
		line-height: 22px;
		color: #FFFFFF;
	}

	&_text_bottom {
		margin-top: 19px;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		line-height: 15px;
		color: #848E97;
	}
}
//Header Hover
@media (max-width:1200px){
    .download_btn{
       width: 500px;
    }
}
//About Us
.about_us{
	//Поменять маргины
	background: url("/img/about_us_bg.png") center/cover no-repeat;
	&_title_wrapper{
	padding-top: 110px;
	display: flex;
	justify-content: center;
	}
	&_title{
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 700;
	line-height: 50px;
	color: #FFFFFF;
	}
	&_items_wrapper{
		margin-top: 80px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 90px;
	}
	&_item{
		width: 325px;
		height: 150px;
		text-align: center;
	}
	&_item_text{
	//padding-top:20px ;
	font-family: Lato;
	font-size: 16px;
	font-style: italic;
	font-weight: 700;
	line-height: 24px;
	color: #FFFFFF;
	}
	&_bottom_text_wrapper{
		margin-top: 110px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		hr{
			width: 780px;
			border: 1px solid #645766;
		}
	}
	&_bottom_text{
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #A291A5;
	}
	&_img_1{
		margin-bottom: 30px;
	}
	&_img_2{
		margin-bottom: 23px;
	}
	&_img_3{
		margin-bottom: 10px;
	}
	&_img_4{
		margin-bottom: 30px;
	}
	&_img_5{
		margin-bottom: 20px;
	}
	&_img_6{
		margin-bottom: 22px;
	}
}
