//Main
@import "mixin.scss";
@import "var.scss";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1200px;
}
//Header
header{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("/img/header_bg.png")  center/cover no-repeat;
    div{
        height: 100px;
        display: flex;
        align-items: center;
    }
}
.hero_section{
	display: flex;
	align-items: center;
}
.burger_menu{
	display: none;
	position: absolute;
	right: 20px ;
	top: 50px;
	flex-direction: column;
	gap: 7px;
	.line{
		width: 25px;
		height: 2px;
		background: #FFFFFF;
		border: 1px solid #FFFFFF;
		border-radius: 20px;
		transition-duration: 0.3s;
	}
	.line_unique{
		align-self:end;
		width: 15px;
	}	
		
}
.logo{
	cursor: pointer;
	img{
		width: 40px;
		height: 40px;
	}
	.logo_hover{
		position: absolute;
		opacity: 0;
		transition-duration: 0.5s;
	}
}
.logo_wrapper {
	max-width: 165px;
	height: 40px;
	margin-left: 20px;
	margin-right: auto;
	display: flex;
	gap: 17px;

	.logo_title {
		font-family: Lato;
		font-size: 24px;
		font-weight: 700;
		line-height: 16px;
		text-decoration: none;
		color: #8D81AC;
		align-self: center;
		transition: 0.5s;
	}
}
.navbar{
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 48px;
	list-style: none;
    .nav_item{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
        display: flex;
        flex-wrap: nowrap;
        &_link{
            text-decoration: none;
            color: #8D81AC;
			transition-duration: 0.5s;
        }
    }
}
.nav_btn_wrapper{
	max-height: 40px;
}
.nav_btn {
	cursor: pointer;
	background: #8D81AC;
	padding: 11px 40px;
	margin-left: 50px;
	max-height: 40px;
	margin-right: 20px;
	min-width: 120px;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	&_link {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 700;
		line-height: 17px;
		text-decoration: none;
		color: #fff;
	}
}

.header_title_wrapper {
	margin-top: 120px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 19px;
	.forkio_title {
		font-family: Montserrat;
		font-size: 82px;
		font-weight: 700;
		line-height: 82px;
		color: #FFFFFF;
		text-align: center;
	}

	.forkio_subtitle {
		font-family: Lato;
		font-size: 30px;
		font-weight: 400;
		line-height: 30px;
		color: #8D81AC;
		text-align: center;
	}

	.forkio_version {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		color: #848E97;
		text-align: center;
	}
}
.download_btn_wrapper{
    position: absolute;
    left: 50%;
    bottom: -120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%,-50%);
}
.btn{
	transition-duration: 0.5s;
	border: 2px solid #8D81AC;
}
.download_btn {
	cursor: pointer;
	width: 390px;
	height: 62px;
	background: #8D81AC;
	border-radius: 40px;
	display: flex;
	justify-content: center;

	&_text {
		font-family: Montserrat;
		font-size: 21px;
		font-weight: 700;
		line-height: 22px;
		color: #FFFFFF;
		transition-duration: 0.5s;
	}

	&_text_bottom {
		margin-top: 19px;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		line-height: 15px;
		color: #848E97;
	}
}
//Header Hover
.logo_wrapper:hover > .logo_title{
	color: #FFFFFF;
	
}
.logo_wrapper:hover >.logo{
	.logo_hover{
	opacity: 1;
	}	
}
.nav_item_link:hover{
	color: #FFFFFF;
}
.btn:hover{
	background: #FFFFFF;
}
.btn:hover > .btn_text{
	color: #8D81AC;
}
//Header Media
@media screen and (max-width:992px){
	.header_title_wrapper{
		.forkio_title {
			font-size: 72px;
			line-height: 72px;
		}
		.forkio_subtitle {
			font-size: 24px;
			line-height: 24px;
		}
		.forkio_version {
			font-size: 14px;
			line-height: 14px;
		}
	}
	.hero_section{
		background: #27262A;
		align-items:normal;
	}
	.logo_wrapper{
		margin-top: 20px;
	}
	.nav_btn_wrapper{
		margin-left: auto;
		margin-top: 20px;
	}
    .navbar{
		position: absolute;
		top: 75px;
		left: 50%;
		transform:translateX(-50%);
		.nav_item{
			white-space: nowrap;
		}
	}
}
@media (max-width:640px){
	.header_title_wrapper{
		.forkio_title {
			font-size: 48px;
			line-height: 48px;
		}
		.forkio_subtitle {
			font-size: 18px;
			line-height: 24px;
		}
		.forkio_version {
			font-size: 14px;
			line-height: 14px;
		}
	}
	.nav_btn_wrapper{
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
		.nav_btn{
			padding: 11px 20px;	
		}
	}
	.download_btn{
		width: 290px;
		font-size: 18px;
		line-height: 20px;
	}
	.logo_wrapper{
		margin-top: 40px;
		.logo_title{
			display: none;
		}
	}
   .burger_menu{
	display: flex;
	span.hidden{
		display: none;
	}
	.line_cross_top.active{
		margin-bottom: -2px;
		transform: rotate(-45deg);
	}
	.line_cross_bottom.active{
		transform: rotate(45deg);
	}
   }
   .navbar{
	display: none;
	.nav_item_link{
		font-size: 26px;
		font-weight: 400;
		line-height: 26px;
	}
	}
	.burger_menu.active{
		margin-top: 10px;
		gap: 0;
	}
	.burger_menu.active + .navbar{
		left: none;
		display: flex;
		margin-top: 25px;
		z-index: 1;
		flex-direction: column;
		gap: 0;
		.nav_item{
			width: 290px ;
			height: 90px ;
			display: flex;
			align-items: center;
			justify-content: start;
			border: 1px solid #333333;
			background: #27262A;
			&_link{
				position: relative;
				margin-left: 40px;
				color: #FFFFFF;
			}
			&_link::before{
				visibility: hidden;
				opacity: 0;
				transition: 0.5s opacity, 0.5s visibility;
				content: " ";
				position: absolute;
				left: -40px;
				top: -10px;
				width: 8px;
				height: 50px;
				background: #8D81AC;
			}
			&_link:focus{
				color: #8D81AC;
			}
			&_link:focus::before{
				opacity: 1;
				visibility: visible;
			}		
		}
	}
}
// revolutionary editor START
.present {
	background-color: #fff;
	&__title {
		color: #635C73;
		font-family: 'montserrat', sans-serif;
		font-weight: bold;
		font-size: 54px;
		line-height: 54px;
		text-align: center;
		margin-top: 129px;
		text-transform: uppercase;
	}
	&__text {
		font-family: 'lato', sans-serif;
		font-weight: 400;
		font-size: 21px;
		line-height: 32px;
		text-align: center;
		margin: 35px auto;
		color: #323232;
		max-width: 860px;
	}
	&__buttons {
		@include flex_center;
		margin-top: 20px;
		gap: 14px;
	}
	&__buttons-item {
		@include flex_center;
		padding: 3px 12px;
		text-decoration: none;
		color: #000;
		font-family: 'montserrat', sans-serif;
		background-color: rgba(132, 142, 151, 0.2);
		border-radius: 2px;
		border: 1px solid rgba(132, 142, 151, 0.3);
		.text {
			padding-left: 3px;
			font-size: 10px;
			font-weight: bold;
		}
		.count {
			font-family: sans-serif;
			font-size: 10px;
			margin-left: 5px;
			background: rgba(132, 142, 151, 0.4);
			border-radius: 15px;
			padding: 4px 3px 3px 3px;
			text-align: center;
		}
	}
}
@media screen and (max-width: 992px) {
	.present {
		&__title {
			font-size: 42px;
			line-height: 42px;
		}
	}
}

@media screen and (max-width: 583px) {
	.present {
		&__title {
			font-size: 26px;
			line-height: 28px;
		}

		&__text {
			font-size: 14px;
			line-height: 20px;
		}

		&__buttons {
			gap: 20px;
			flex-wrap: wrap;
		}
	}
}
// revolutionary editor END
.features {
	background-color: #F4F4F4;
	font-family: "montserrat", sans-serif;
	margin-top: 70px;
	position: relative;
	padding-top: 100px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	gap: 80px;


	&__offers-block,
	&__offers-block-2,
	&__offers-block-3,
	&__offers-block-4 {
		display: flex;
		align-items: center;
		margin-bottom: 35px;
	}

	&__block-icon-1 {
		img {
			margin-left: 2px;
		}
	}

	&__block-icon-3 {
		img {
			margin-left: 14px;
		}
	}

	&__block-icon-4 {
		img {
			margin-left: 10px;
		}
	}

	&__block-page {
		padding-left: 18px;
	}

	&__block-page-2 {
		padding-left: 40px;
	}

	&__block-page-3 {
		padding-left: 55px;
	}

	&__block-page-4 {
		padding-left: 47px;
	}

	&__page-title {
		font-size: 16px;
		line-height: 21px;
	}

	&__page-text,
	&__page-text-2,
	&__page-text-3,
	&__page-text-4 {
		font-size: 14px;
		line-height: 21px;
		text-align: start;
		color: #848E97;
		width: 376px;
		margin-top: 12px;
	}

	&__showcase-title {
		font-family: 'Montserrat', sans-serif;
		font-size: 48px;
		font-weight: 700;
		line-height: 50px;
		color: $main_color;
	}

	&__showcase-img {
		position: absolute;
		left: 50%;
		bottom: 0;
		padding-top: 60px;
	}

	&__showcase-img>img {
		width: 100%;
	}
}
@media screen and (max-width: 992px) {
	.features {
		flex-direction: column;
		justify-content: center;

		&__showcase-img {
			position: static;
			width: 90%;
			margin-left: auto;
			padding-top: 0;
		}

		&__showcase-img>img {
			margin-left: auto;
		}
		&__showcase-title {
			text-align: center;
			font-size: 42px;
			line-height: 44px;
		}
		&__page-text,
		&__page-text-2,
		&__page-text-3,
		&__page-text-4 {
			width: 100%;
		}
	}
}
@media screen and (max-width: 540px) {
	.features {

		&__offers-block,
		&__offers-block-2,
		&__offers-block-3,
		&__offers-block-4 {
			flex-direction: column;
		}

		&__page-text,
		&__page-text-2,
		&__page-text-3,
		&__page-text-4 {
			width: 100%;
			text-align: center;
		}

		&__page-title {
			text-align: center;
			line-height: 16px;
		}

		&__showcase-title {
			text-align: center;
			font-size: 32px;
			line-height: 32px;
		}

		&__block-page,
		&__block-page-2,
		&__block-page-3,
		&__block-page-4 {
			padding-left: 0;
		}

		&__showcase-img {
			position: static;
			width: 90%;
			
		}

		&__showcase-img>img {
			margin-left: auto;
			width: 100%;
		}
	}
}
//About Us
.about_us{
	background: url("/img/about_us_bg.png") center/cover no-repeat;
	&_title_wrapper{
	padding-top: 110px;
	display: flex;
	justify-content: center;
	}
	&_title{
	font-family: Montserrat;
	font-size: 48px;
	font-weight: 700;
	line-height: 50px;
	color: #FFFFFF;
	text-align: center;
	}
	&_items_wrapper{
		margin-top: 80px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 90px;
	}
	&_item{
		width: 325px;
		height: 150px;
		text-align: center;
	}
	&_item_text{
	font-family: Lato;
	font-size: 16px;
	font-style: italic;
	font-weight: 700;
	line-height: 24px;
	color: #FFFFFF;
	}
	&_bottom_text_wrapper{
		margin-top: 110px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		hr{
			margin-bottom: 100px;
			width: 780px;
			border: 1px solid #645766;
		}
	}
	&_bottom_text{
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	max-width: 890px;
	color: #A291A5;
	}
	&_img_1{
		margin-bottom: 30px;
	}
	&_img_2{
		margin-bottom: 23px;
	}
	&_img_3{
		margin-bottom: 10px;
	}
	&_img_4{
		margin-bottom: 30px;
	}
	&_img_5{
		margin-bottom: 20px;
	}
	&_img_6{
		margin-bottom: 22px;
	}
}
//Media About Us
@media screen and (max-width:905px) {
	.about_us{
		&_items_wrapper{
			gap: 60px;
		}
		hr{
			width: 555px;
		}
	}
}
@media screen and (max-width:582px) {
	.about_us{
		&_title{
			text-align: center;
			font-size: 36px;
		}
		&_items_wrapper{
			gap: 45px;
		}
		hr{
			max-width: 245px;
		}
	}
}
.pricing {
	background-image: url("../img/purple_bg.png");
	background-position: center;
	// background-attachment: fixed;
	background-size: cover;
	background-repeat: repeat;
	text-align: center;
	height: 100%;
	width: 100%;
	padding: 115px 0 90px;

	&__title {
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 48px;
		font-weight: 700;
		line-height: 50px;
	}

	&__elements {
		display: grid;
		grid-template-columns: repeat(4, auto);
		justify-content: center;
		align-items: center;
		column-gap: 15px;
		margin-top: 60px;
	}

	&__item {
		background: rgba(255, 255, 255, 0.1);
		font-family: 'montserrat', sans-serif;
		width: 257px;
		height: 457px;

		.item {
			&__title {
				background: rgba(255, 255, 255, 0.06);
				padding: 36px 58px;
				color: #fff;
				font-size: 24px;
				line-height: 24px;
				text-align: center;
				text-transform: uppercase;
			}

			&__title2 {
				background: rgba(255, 255, 255, 0.06);
				padding: 36px 27px;
				color: #fff;
				font-size: 24px;
				line-height: 24px;
				text-align: center;
				text-transform: uppercase;
			}

			&__title3 {
				background: rgba(255, 255, 255, 0.06);
				padding: 36px 49px;
				color: #fff;
				font-size: 24px;
				line-height: 24px;
				text-align: center;
				text-transform: uppercase;
			}

			&__price {
				color: #fff;
				font-size: 60px;
				line-height: 90px;
				padding-top: 10px;
			}

			&__period {
				color: #fff;
				font-size: 14px;
				line-height: 16px;
				text-transform: uppercase;
				position: relative;
			}

			&__period::before {
				content: "";
				position: absolute;
				top: 55px;
				left: 50%;
				transform: translateX(-50%);
				background: rgba(141, 129, 172, 1);
				width: 60px;
				height: 5px;
			}

			&__license {
				margin-top: 80px;
				margin-bottom: 62px;
				font-size: 16px;
				line-height: 18px;
				color: #fff;
			}

			&__license2 {
				margin: 80px auto 44px auto;
				font-size: 16px;
				line-height: 18px;
				color: #fff;
				text-align: center;
				width: 180px;
			}

			&__license3 {
				margin: 80px auto 44px auto;
				font-size: 16px;
				line-height: 18px;
				color: #fff;
				text-align: center;
				width: 225px;
			}

			&__button {
				font-family: 'montserrat', sans-serif;
				color: #fff;
				text-transform: uppercase;
				font-size: 15px;
				line-height: 15px;
				padding: 15px 37px;
				background: rgba(255, 255, 255, 0.15);
				border-radius: 30px;
				border: none;
				margin-bottom: 36px;
			}
		}
	}

	&__item-active {
		background: rgba(70, 48, 72, 0.84);
		font-family: 'montserrat', sans-serif;
		width: 299px;
		height: 560px;

		.item-active {

			&__title {
				background: rgba(0, 0, 0, 0.11);
				font-size: 24px;
				line-height: 24px;
				text-transform: uppercase;
				color: #fff;
				padding: 43px 96px;
			}

			&__price {
				color: #fff;
				font-size: 82px;
				line-height: 90px;
				padding-top: 15px;
			}

			&__period {
				color: #fff;
				font-size: 14px;
				line-height: 16px;
				text-transform: uppercase;
				position: relative;
				margin-top: 16px;
			}

			&__period::before {
				content: "";
				position: absolute;
				top: 55px;
				left: 50%;
				transform: translateX(-50%);
				background: rgba(141, 129, 172, 1);
				width: 60px;
				height: 5px;
			}

			&__license {
				margin: 91px auto 83px auto;
				font-size: 16px;
				line-height: 18px;
				color: #fff;
			}

			&__button {
				font-family: 'montserrat', sans-serif;
				color: #fff;
				text-transform: uppercase;
				font-size: 15px;
				line-height: 15px;
				padding: 15px 37px;
				background: rgba(255, 255, 255, 0.15);
				border-radius: 30px;
				border: none;
				margin-bottom: 47px;
			}
		}
	}
}

@media screen and (max-width: 1120px) {
	.pricing {
		padding: 88px 0 90px;

		&__title {
			font-size: 42px;
			line-height: 44px;
		}

		&__elements {
			grid-template-columns: auto auto;
			column-gap: 25px;
			row-gap: 30px;
		}

		&__item:nth-child(1) {
			justify-self: end;
		}

		&__item-active {
			justify-self: end;
		}
	}
}

@media screen and (max-width: 583px) {
	.pricing {
		padding: 15px 0;
		&__title {
			font-size: 28px;
			line-height: 42px;
		}

		&__elements {
			grid-template-columns: 1fr;
			justify-items: center;
			row-gap: 20px;
		}

		&__item:nth-child(1) {
			justify-self: center;
		}

		&__item-active {
			justify-self: center;
		}
	}
}

